*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Arimo", sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --clr-darkaccent: #08472f;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

/* endable this to add smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

body.dark-theme {
  background: var(--clr-dark);
  color: var(--clr-light);
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
h4 {
  font-size: var(--fs-h4);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h4);
}

.section__subtitle--intro,
.section__subtitle--story {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--gallery {
  /* color: var(--clr-dark); */
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 150px;
}

.change-theme {
  position: fixed;
  right: 1rem;
  font-size: 1.25rem;
  color: var(--clr-accent);
  margin-right: 5rem;
  cursor: pointer;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/*  Intro section  */

.intro {
  position: relative;
  display: grid;
  width: max-content;
  margin: 0 auto;
  grid-column-gap: 1em;
  grid-template-areas:
    "img title"
    "img subtitle";
  grid-template-columns: min-content max-content;
}

.intro__img {
  box-shadow: var(--bs);
  grid-area: img;
  min-width: 150px;
  position: relative;
  z-index: 2;
}

.section__subtitle--intro {
  display: inline-block;
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

@media (min-width: 800px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    font-size: var(--fs-h3);
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/*  Biography section  */

.my-biography {
  /* background-color: var(--clr-accent); */
  /* background-image: url(../img/bislimska3.jpg); */
  background-size: cover;
  /* background-blend-mode: multiply; */
  /* color: var(--clr-dark); */
  text-align: center;
}

.section__title--biography {
  /* color: var(--clr-dark); */
  position: relative;
}

.section__title--biography::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.biography {
  margin-bottom: 4em;
}

.biographyItem {
  /* max-width: 500px; */
  width: 65%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 800px) {
  .biography {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .biographyItem {
    width: 33%;
  }

  .biographyItem + .biographyItem {
    margin-left: 2em;
  }
}

.my-story {
  max-width: 1000px;
  margin: 0 auto;
}

.my-story__img {
  box-shadow: var(--bs);
  width: 70%;
}

@media (min-width: 800px) {
  .my-story {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--story {
    grid-area: title;
  }

  .section__subtitle--story {
    font-size: var(--fs-h3);
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .my-story__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    width: 100%;
  }
}

/* My gallery */

.my-gallery {
  /* background-color: var(--clr-accent); */
  /* color: var(--clr-dark); */
  text-align: center;
}

.portfolio {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.portfolio__item {
  /* background: var(--clr-accent); */
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  z-index: -1;
}

/* .portfolio__item:focus {
  position: relative;
  z-index: 2;
} */

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.1);
  opacity: 0.5;
}
@media (min-width: 600px) {
  .portfolio {
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (min-width: 1000px) {
  .portfolio {
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/* Contact me */
.row {
  text-align: center;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
}

input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.scrollup {
  position: fixed;
  right: 2rem;
  bottom: -20%;
  background-color: var(--clr-accent);
  opacity: 0.8;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup__icon {
  font-size: 1rem;
  color: var(--clr-light);
}

.scrollup__icon:hover {
  color: var(--clr-dark);
}

.show-scroll {
  bottom: 5rem;
}

.like__btn {
  position: flex;
  top: 10px;
  left: 10px;
  z-index: 2;
  padding: 10px 15px;
  background: var(--clr-accent);
  font-size: 18px;
}
